# Ignore node_modules directory
node_modules/*
node_modules/

# Ignore compiled output
out/

# Ignore .vscode directory
.vscode/

# Ignore .DS_Store file on macOS
.DS_Store

# Ignore any local configuration files
*.local

# Ignore npm debug log
npm-debug.log

# Ignore yarn errors file
.yarn-error.log
